<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @theme.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @theme.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @theme.image %>
</p>

<p>
  <strong>Theme ID:</strong>
  <%= @theme.venue_id %>
</p>

<% @theme.venues.each do |v| %>
<ul>
  <li>
    <%= link_to( v.name, venue_path(v) ) %>
  </li>
</ul>
<% end %>

<%= link_to 'Edit', edit_theme_path(@theme) %> |
<%= link_to 'Back', themes_path %>
