<p id="notice"><%= notice %></p>

<h1>Venues near <%= $search %></h1>

<br><br><br>
<h2> <%= $search %></h2>


<!-- GOOGLE MAP WE HAVE TAKEN IT OFF THE VIEW PAGE -->
 <!-- <div class="map"
<div style='width: 800px;'>
<div id="filter_markers" style='width: 500px; height: 500px'></div>
</div>
<script>

var mapOptions = {
center: new google.maps.LatLng(-33.8688197, 151.2092955),
zoom: 13
};

var handler = Gmaps.build('Google');
handler.buildMap({ provider: mapOptions, internal: {id: 'filter_markers' }}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>)

}); -->

<div class="container">
  <div class="row">
    <div class="nearshow">
      <tbody>
        <% @venues.each do |venue| %>
          <tr>

            <!-- <td><%#= venue.content %></td>
            <td><%#= venue.location %></td> -->
            <li><td><%= image_tag(venue.image, height: '200', width: '300') %></td>
            <td><%= link_to venue.name, venue %></td></li>
            <!-- <td><%#= link_to 'Show', venue %></td>
            <td><%#= link_to 'Edit', edit_venue_path(venue) %></td>
            <td><%#= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </div>
  </div>
</div>

<br>
