<p id="notice"><%= notice %></span>

  <div style='width: 800px;'>
  <div id="multi_markers" style='width: 500px; height: 500px;'></div>
  </div>
  <script>

  var mapOptions = {
  center: new google.maps.LatLng(-33.8688197, 151.2092955),
  zoom: 13
  };

  var handler = Gmaps.build('Google');
  handler.buildMap({ provider: mapOptions, internal: {id: 'multi_markers' }}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>)

  });

  </script>
  <span>


<% @venues.each do |venue| %>
  <p>
    <%= venue.name %>
    <%= link_to 'Show', venue_path(venue) %>
  </p>
  <% if venue.link != "" %>
    <iframe src="<%= (venue.link) %>" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    <% else %>
    <%= image_tag(venue.image, height: '400', width: '400') %>
    <% end %>
  <% end %>

</span>

<%= link_to 'New Venue', new_venue_path %>
