<h5><%= @venue.name %></h5>


               <div class="container">
                 <div class="row">
                   <div class="col s7 push-s5">
                     <div class="picvenue" style="background-image: url('<%= @venue.image %>')">
                     </div>
                   </div>
                   <div class="col s5 pull-s7">
                     <div style='width: 800px;'>
                       <div id="map" style='width: 400px; height: 400px;'></div>
                     </div>
                   <script>
                   var mapOptions = {
                   center: new google.maps.LatLng(<%= raw @hash.to_json %>),
                   zoom: 10
                   };
                   var handler = Gmaps.build('Google');
                   handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
                     markers = handler.addMarkers(<%=raw @hash.to_json %>);
                     handler.bounds.extendWith(markers);
                     handler.fitMapToBounds();
                   });
                   </script>

                   </div>
                   <div class="col s8">
                     <!-- FACEBOOK WIDGET -->
                  <iframe src="<%= (@venue.link) %>" width="340" height="550" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

                  </div>
                     <div class="col s4">
                       <p class="bold"><%= @venue.theme.name %></p>
                     </div>
                   </div>
                   </div>
